<ng-container>
  <h2>Select any product to see further details</h2>
  <div class="products-container">
    <div class="products-list">
      <sample-product *ngFor="let product of _products$ | async" [product]="product"></sample-product>
    </div>
  
    <button mat-raised-button (click)="openDialog()">add Product</button>
  </div>
</ng-container>