<ng-container>
  
  <div class="details-container" *ngIf="_product$ | async as product; else loading">
    <h2> {{product.name | titlecase }} details</h2>
    <p>id: {{product.id}}</p>
    <p>details: {{product.details}}</p>
  </div>

  <ng-template #loading>
    <div class="loading-screen">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      Loading...
    </div>
  </ng-template>
  
</ng-container>