<h1 mat-dialog-title>Add a new product</h1>
<div mat-dialog-content>
  <p>Product id</p>
  <mat-form-field>
    <input matInput [(ngModel)]="newProduct.id">
  </mat-form-field>
  <p>Product name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="newProduct.name">
  </mat-form-field>
  <p>Product details</p>
  <mat-form-field>
    <input matInput [(ngModel)]="newProduct.details">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="saveProduct()" cdkFocusInitial>Save Product</button>
</div>
