
<mat-card
    class="sample-product"
    routerLink="product/{{product.id}}"
    matTooltip="See more details"
>
    <p>
        {{product.id}}
    </p>
    <p>
        {{product.name}}
    </p>
    <p>
        {{product.detail}}
    </p>
</mat-card>